<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Courses</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>price</th>
        <th>hours</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="course : ${courses}">
        <th><span th:text="${course.name}">name</span></th>
        <th><span th:text="${course.description}">description</span></th>
        <th><span th:text="${course.price}">price</span></th>
        <th><span th:text="${course.hours}">hours</span></th>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/course/add}" th:object="${course}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Description: <input type="text" th:field="*{description}"/></p>
    <p>Price: <input type="number" th:field="*{price}"/></p>
    <p>Hpurs: <input type="number" th:field="*{hours}"/></p>
    <p><input type="submit" value="Submit"/> </p>


</form>

</body>
</html>