<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Hello</title>
</head>
<body>

<table>
    <thead>

    <tr>
        <th>name</th>
        <th>age</th>

    </tr>
    <tr>
        <td><span th:text="${name}"></span></td>

    </tr>
    </thead>

    <tbody >
    <tr th:each = "person:${people}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.age}"></td>

    </tr>

    </tbody>

</table>


</body>
</html>