<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>name</th>
        <th>age</th>

    </tr>
    </thead>
    <tbody th:each = "person : ${people}">
    <tr>
        <th th:text = "${person.name}"></th>
        <th th:text = "${person.age}"></th>
    </tr>
    </tbody>
</table>

</body>
</html>