<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Hello</title>
</head>
<body>
<!--
<h1><span th:text="${name}"></span></h1>
-->

<table>
    <thead>

    <tr>
        <th>name</th>
        <th>age</th>

    </tr>

    </thead>

    <tbody >

    <tr>
        <td><span th:text="${name}"></span></td>
        <td><span th:text="${age}"></span></td>
        <!--<td><span th:text="{$age}"></span></td>-->
    </tr>
   <!-- <tr th:each = "person:${people}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.age}"></td>

    </tr>-->

    </tbody>

</table>


</body>
</html>