<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<h2>Person: <span th:text="${person.name}"></span> - <span th:text="${person.age}"></span> </h2>
</body>
</html>